* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dl {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

dt {
    font-weight: bold;
}

body {
    display: grid;
    justify-items: center;
}
